body {
    padding: 0;
    margin: 0;
}

#main {
    text-align: center;
}

#title, #caption {
   padding: 20px 0;
}

#caption {
    margin-top: -50px;
}

.header_background {
    width: 100%;
    height: 100px;
    margin-top: -22px;
    background-color: rgb(230, 230, 230);
}

#image {
    max-width: 100%;
    height: auto;
}

ul {
    display: inline-block;
    text-align: left;
}