#main {
    text-align: center;
}

#title, #caption {
    padding: 0;
}

#caption {
    margin-top: -20px;
}

.header_background {
    margin-top: -10px;
    width: 100%;
    height: auto;
    background-color: rgb(230, 230, 230);
}

#image {
    max-width: 100%;
    height: auto;
}

ul {
    display: inline-block;
    text-align: left;
}