#main {
    text-align: center;
}

.header_background {
    width: 100%;
    height: auto;
    background-color: rgb(230, 230, 230);
}

#image {
    max-width: 100%;
    height: auto;
}

ul {
    display: inline-block;
    text-align: left;
}